.prototype-box {
    max-height: 458px;
    padding: 40px;

    border-radius: 44px;
    background-color: rgb(255, 255, 255);

    transition: transform 0.3s ease-in;
}
/* 
.prototype-box:hover {
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
} */

.prototype-box h6 {
    font-family: 'LiHei Pro Medium';
    font-size: 30px;

    margin-bottom: 10px;
    line-height: 45px;
    color: #252933;
}

.prototype-box p{
    height: 24.5px;

    font-family: 'koreanRDRR';
    font-size: 24px;
    font-weight: 700;

    padding: 18px 20px;
    border-radius: 16px;

    color: #ffffff;
    background-color: #313539;
}

.fill-box-red {
    color: #FF4D4D;
}

.fill-border-red {
    color: var(--main-bg-color);
    text-shadow:
        -1px -1px 0 #FF4D4D,  
        1px -1px 0 #FF4D4D,
        -1px  1px 0 #FF4D4D,
       1px  1px 0 #FF4D4D; /* 텍스트 테두리 색상과 위치 */
}