.display-board h4 {
    font-size: 60px;
    line-height: 60px;

    display: inline-block;

    white-space: nowrap; 

    padding: 5px 0;

    animation: scroll 18s infinite linear;
}

.display-board {
    margin-top: 80px;
    display: flex;
    border-top: 2px solid #FF4D4D;
    border-bottom: 2px solid #FF4D4D;
}

.display-board span {
    font-family: 'KIMM_Bold';
    margin-right: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.fill-box-red {
    color: #FF4D4D;
}

.fill-border-red {
    color: var(--main-bg-color);
    text-shadow:
        -1px -1px 0 #FF4D4D,  
        1px -1px 0 #FF4D4D,
        -1px  1px 0 #FF4D4D,
       1px  1px 0 #FF4D4D; /* 텍스트 테두리 색상과 위치 */
}
