.display-board h4 {

    font-size: 60px;
    line-height: 60px;

    display: inline-block;

    white-space: nowrap; 

    padding: 5px 0;

    animation: scroll 12s infinite linear;
}

.display-board {
    display: flex;
    border-top: 2px solid #FF4D4D;
    border-bottom: 2px solid #FF4D4D;
}

.display-board span {
    margin-right: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
