.det { background-color: #9DC5E9; } 
.adj { background-color: #A2E887; } 
.adv { background-color: #D7EDB9; } 
.nou { background-color: #B1B8F9; }
.ver { background-color: #FADBB0; }
.pro { background-color: #7AC7C4; }
.pre { background-color: #D2B48C; }
.con { background-color: #DFB0DD; }
.int { background-color: #CFCFCF; } 
.par { background-color: #99AAB5; } 
.num { background-color: #C4D78B; }
.mod { background-color: #D58B8B; }
