.prototype-box {
    max-height: 458px;
    width: 100%;
    padding: 40px;

    border-radius: 44px;
    background-color: rgb(255, 255, 255);

    transition: transform 0.3s ease-in;
}
/* 
.prototype-box:hover {
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
} */

.prototype-box h6 {
    font-family: 'LiHei Pro Medium';
    font-size: 30px;

    margin-bottom: 10px;
    line-height: 35px;
    color: #252933;
}

.prototype-box input{
    height: 24.5px;
    width: 95%;

    border: 0px;

    font-family: 'TTTtangsbudaejjigaeB';
    font-size: 24px;
    font-weight: 700;

    padding: 18px 20px;
    border-radius: 16px;

    color: #ffffff;
    background-color: #313539;
}

.prototype-box h6 span{
    position: relative;
    display: inline-block;
    z-index: 1;
}


.noun-phrase::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0em;
    width: 100%;
    height: 1em;
    background-color: #717BFE;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
}

.noun-phrase:hover::after {
    transform-origin: left; 
    transform: scaleX(1);
}

.verb-phrase::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0em;
    width: 100%;
    height: 1em;
    background-color: #FEC371;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
}

.verb-phrase:hover::after {
    transform-origin: left; 
    transform: scaleX(1);
}

.object-phrase::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0em;
    width: 100%;
    height: 1em;
    background-color: #a6e64c;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
}

.object-phrase:hover::after {
    transform-origin: left; 
    transform: scaleX(1);
}